* {
  margin: 0;
  text-decoration: none;
}
body {
  background-color: rgb(8, 151, 8);
}
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  width: 100px;
  height: 70px;
  border-radius: 50px;
}
button {
  width: 100px;
  height: 70px;
  color: black;
  text-decoration: none;
  border-radius: 50px;
  background-color: crimson;
  border: 7px solid black;
}
a {
  color: white;
  font-family: 70;
  font-size: large;
}
